{{define "main"}}
{{$baseurl := .Site.BaseURL}}
<body>
  <div class="fh5co-loader"></div>
<div id="page">
  {{ partial "site-header/list-aside.html" . }}
  <div id="fh5co-main-content">
    <div class="fh5co-post">
    	{{range where .Site.Pages "Section" "posts"}}
      <div class="fh5co-entry padding">
        <div class="circle-list-image-wrapper" {{with .Params.image}}style="background-image:url({{$baseurl}}assets/images/_thumb/{{.}})";{{end}}>
          <!-- <img src="{{.Site.BaseURL}}assets/images/_thumb/{{.Params.image}}" alt="{{.Params.imagealt}}"> -->
        </div>
        <div class="post-meta-list">
          <span class="fh5co-post-date">{{.PublishDate.Format "January 2, 2006"}}</span>
          <h2><a href="{{.Permalink}}">{{.Title}}</a></h2>
          <p class="list-description">{{.Description}}</p>
        </div>
      </div>
      {{end}}
      {{partial "site-footer/site-footer.html" . }}
    </div>
  </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
  </div>
  {{- partial "site-scripts.html" . -}}
</body>
{{end}}