{{if .IsPage }}
<div class="social-wrapper">
    <div class="modal-toggle-group animate">
        <div class="modal-toggle-bubbleShadow"></div>
        <div class="modal-toggle-bubble"></div>
        <div class="modal-toggle-wrapper">
            {{partial "svg-icons/share.svg" . }}
        </div>
        <div class="modal-toggle-close-wrapper">
            <div class="modal-toggle-close"></div>
        </div>
        <span class="share-close"></span>
    </div>
    <div class="social-media-share-wrapper">
        <section class="social-media-share animated">
            <h2 class="social-media-title">{{if gt (len .Title) 60}}<span class="long-title">Share "{{- .Title | markdownify -}}"</span>{{else}}Share "{{ .Title | markdownify }}"{{end}}</h2>
            <ul class="social-media-share-list">
                <li>
                    <a class="share-button twitter" href="https://twitter.com/intent/tweet?text={{ .Title }} {{.Site.Params.siteauthor}}&url={{ .Permalink }}" target="_blank"></a>
                </li>
                <li>
                    <a class="share-button facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank"></a>
                </li>
                <li>
                    <a class="share-button linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{- .Permalink -}}&title={{ .Title }}&summary={{.Description}}" target="_blank"></a>
                </li>
                <li>
                    <a class="share-button pocket" href="https://getpocket.com/save?url={{ .Permalink }}&title={{ .Title }}" target="_blank"></a>
                </li>
                <li>
                    <a class="share-button email" href="mailto:?subject=Sharing %22{{ .Title }}%22 from {{.Site.Title}}&body=%22{{if not .IsHome }}{{.Description}}{{else}}{{.Site.Params.sitedescription}}{{end}}%22%0D%0D{{ .Permalink }}" ></a>
                </li>
            </ul>
        </section>
    </div>
</div>
{{end}}
