<title>{{(replace .Title "-" " ")  | default .Site.Title}}</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{{ if .IsHome }}{{ .Site.Params.sitedescription }}{{ else if .IsPage }}{{ .Description }}{{ else if .IsNode }}{{ index .Site.Data.sectiondescriptions .Title }}{{ end }}"/>
{{- if .Params.tags -}}
	<meta name="keywords" content="{{ delimit .Params.tags ", " }}">
  {{- else -}}
  <meta name="keywords" content="{{.Keywords | default .Site.Params.sitekeywords}}" />
{{- end -}}


